doctype html
html(lang="en")
    head
        title Desirelist
        link(rel='stylesheet', href='main.css')
        script(type='text/javascript', src='bundle.js')
    body(ng-app='app-sate-extension')
        
