doctype html
html(lang="en")
    head
        script(type='text/javascript', src='bundle.js')
    body(ng-app='app-sate-extension')
        .extension-container(ng-controller='chrome-extension-controller', ng-init='initialize()')
